<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryk.vcsbyrfid.mapper.VcsDeviceMapper">

    <resultMap id="BaseResultMap" type="com.ryk.vcsbyrfid.model.entity.VcsDevice">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dname" column="dName" jdbcType="VARCHAR"/>
            <result property="longitude" column="longitude" jdbcType="VARCHAR"/>
            <result property="latitude" column="latitude" jdbcType="VARCHAR"/>
            <result property="isValid" column="is_valid" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dName,longitude,
        latitude,is_valid,is_deleted
    </sql>
</mapper>
