<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryk.vcsbyrfid.mapper.VcsNvehicleMapper">

    <resultMap id="BaseResultMap" type="com.ryk.vcsbyrfid.model.entity.VcsNvehicle">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="carNumber" column="carNumber" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="useRange" column="useRange" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
            <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updatedTime" jdbcType="TIMESTAMP"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="mold" column="mold" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,carNumber,state,
        useRange,isDeleted,createdTime,
        updatedTime,userId,mold
    </sql>
</mapper>
