<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryk.vcsbyrfid.mapper.VcsRfidMapper">

    <resultMap id="BaseResultMap" type="com.ryk.vcsbyrfid.model.entity.VcsRfid">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="checkCode" column="checkCode" jdbcType="VARCHAR"/>
            <result property="validDate" column="validDate" jdbcType="TIMESTAMP"/>
            <result property="isValid" column="isValid" jdbcType="TINYINT"/>
            <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updatedTime" jdbcType="TIMESTAMP"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="nvehicleId" column="nvehicleId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,checkCode,validDate,
        isValid,createdTime,updatedTime,
        userId,nvehicleId
    </sql>
</mapper>
