<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryk.vcsbyrfid.mapper.VcsWarningMapper">

    <resultMap id="BaseResultMap" type="com.ryk.vcsbyrfid.model.entity.VcsWarning">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="warningContent" column="warningContent" jdbcType="VARCHAR"/>
            <result property="warningType" column="warningType" jdbcType="VARCHAR"/>
            <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="nvehicleId" column="nvehicleId" jdbcType="BIGINT"/>
            <result property="deviceId" column="deviceId" jdbcType="BIGINT"/>
            <result property="recordId" column="recordId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,warningContent,warningType,
        createdTime,userId,nvehicleId,
        deviceId,recordId
    </sql>
</mapper>
